<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.SoftKeyboardPlugin"
      version="0.1.0">
    <name>SoftKeyboardPlugin</name>
    <description>SoftKeyboardPlugin Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,SoftKeyboardPlugin</keywords>


    <js-module src="www/softkeyboard.js" name="SoftKeyboardPlugin">
        <clobbers target="KLG.plugins.softkeyboard" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SoftKeyboardPlugin">
                <param name="android-package" value="com.kalengo.weathermeida.plugins.SoftKeyboardPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/SoftKeyboardPlugin.java" target-dir="src/com/kalengo/weathermeida/plugins" />      
     </platform>          
</plugin>